
/* The root wrapper - covers the whole screen */
.app-wrapper {
  min-height: 100vh;
  background-color: var(--bg-main);
  display: flex;
  flex-direction: column;
}

/* The centered container for your content */
.product-container {
  width: 90%;
  margin: 0 auto;    
  padding: 20px 0;
  /* max-width: 1200px;  */

  padding-top: 20px;
  min-height: 80vh;
}


/* Future Dark Mode Preview */
[data-theme='dark'] {
  --bg-sidebar: rgba(17, 24, 39, 0.95);
  --text-main: #f9fafb;
  --border: #374151;
}


