/* The root wrapper - covers the whole screen */
.app-wrapper {
  min-height: 100vh;
  background-color: var(--bg-main);
  display: flex;
  flex-direction: column;
}

/* The centered container for your content */
.product-container {
  width: 90%;
  margin: 0 auto;    
  padding: 20px 0;
  /* max-width: 1200px;  */

  padding-top: 20px;
  min-height: 80vh;
}

/* .product-grid {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  width: 100%;
}

@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: 1fr; 
  }
} */