
/* .loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: var(--primary);
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 2px;
} */

.product-grid {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  width: 100%;
}

@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: 1fr; 
  }
}